@font-face {
  font-family: 'DMSansLight';
  src: url("./Assets/fonts/DM_Sans/DM_Sans/static/DMSans-Medium.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSansMedium';
  src: url("./Assets/fonts/DM_Sans/DM_Sans/static/DMSans-SemiBold.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "DMSansLight", serif !important;
  background-color: var(--imp-background-light-color) !important;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DMSansMedium", serif !important;
}

